<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
                       "http://www.docbook.org/xml/4.3/docbookx.dtd">
<!-- section history:
  2008-02-09 lexa: fixed de bug #515187 "german translation of internet"
  2007-03-25 lexa: reviewed de
  2006-09-19 added norwegian translation by KoSt
  2006-08-27 Added Korean Translation by Mr.Dust
  2005-11-30 replaced informalfigure by axel.wernicke
  050930 de replaced informalfigure by axel.wernicke
  050829 de added by axel.wernicke
-->
<!--2009-04-27-->
<sect1 id="gimp-using-web">
  <title lang="en">Preparing your Images for the Web</title>
  <title lang="ja">ウェブ用の画像の作成</title>
  <indexterm lang="en">
    <primary>Web</primary>
    <secondary>Images for the web</secondary>
  </indexterm>
  <indexterm lang="ja">
    <primary>ウェブ</primary>
    <secondary sortas="ウェブヨウノガゾウ">ウェブ用の画像</secondary>
  </indexterm>
  <para lang="en">
    One of the most common purposes <acronym>GIMP</acronym> is used for
    is to prepare images for adding them to a web site. This means that
    images should look as nice as possible while keeping the file
    size as small as possible.  This little step-by-step guide will tell
    you how to achieve a smaller file size with minimal degradation of
    image quality.
  </para>
  <para lang="ja">
    <acronym>GIMP</acronym>の主な用途にはウェブサイト用画像の作成があります。
    ここでの課題はできるだけ小さなファイル容量を保ちつつ画像をいかに良好に
    見せるかということです。
    この小編は、 画像の品質の悪化を最小限にしながらファイル容量を
    より小さくする方法を ひとつひとつ解き明かしてゆきます。
  </para>

  <sect2 id="gimp-using-web-size-vs-quality">
    <title lang="en">Images with an Optimal Size/Quality Ratio</title>
    <title lang="ja">画像の容量最適化と品質</title>
    <para lang="en">
      An optimal image for the web depends upon the image type and the file
      format you have to use. If you want to put a photograph with a lot of
      colors online, you have to use
      <link linkend="file-jpeg-save">JPEG</link>
      as your primary file format. If your image contains fewer colors, that
      is, if it is not a photograph, but is more a drawing you created (such
      as a button or a screenshot), you would be better off using
      <link linkend="file-png-load">PNG</link>
      format. We will guide you through the process of doing this.
    </para>
    <para lang="ja">
      画像がウェブに最適となるには、 どんな画像形態とファイル形式を用いるかに
      かかっています。 彩色豊かな写真をオンライン公開するのなら、
      <link linkend="file-jpeg-save">JPEG</link> を第一のファイル形式に採用
      すべきです。 画像の色が少ししかないとき、 要するに写真ではない画像で、
      しかも(ボタンやスクリーンショットのような)描かれた物であるならば、 むしろ
      <link linkend="file-png-load">PNG</link> 形式を使ったほうが良いでしょう。
      このような過程を通してご案内いたします。
    </para>
    <procedure>
      <step>
        <para lang="en">
          First, open the image as usual. I have opened our Wilber as an
          example image.
        </para>
        <para lang="ja">
          まずは、いつも通り画像を開いてください。 ここには例として
          我らがウィルバー君の画像をとりあげます。
        </para>
        <figure>
          <title lang="en">The Wilber image opened in RGBA mode.</title>
          <title lang="ja">
            <acronym>RGBA</acronym>モードで開かれたウィルバー君の画像
          </title>
          <mediaobject>
            <imageobject>
              <imagedata format="PNG"
                fileref="images/using/preparing_for_web1.png"/>
            </imageobject>
          </mediaobject>
        </figure>
      </step>
      <step>
        <para lang="en">
          The image is now in RGB mode, with an additional
          <link linkend="glossary-alpha">Alpha channel</link>
          (RGBA). There is usually no need to have an alpha channel for your
          web image. You can remove the alpha channel by
          <link linkend="gimp-image-flatten">flattening the image</link>.
        </para>
        <para lang="en">
          If you open a photograph, you probably won't have to remove the
          alpha channel, because a photograph doesn't usually have one, so the
          file is already opened in RGB mode.
        </para>
        <para lang="ja">
          この画像は<acronym>RGB</acronym>モードに
          <link linkend='glossary-alpha'>アルファチャンネル</link> が加えられた
          もの (<acronym>RGBA</acronym>) になっています。 普段ウェブ用画像には
          アルファチャンネルは不要です。 アルファチャンネルは
          <link linkend='gimp-image-flatten'>画像の統合</link>で外せます。
        </para>
        <para lang="ja">
          もし開いた画像が写真であるならば、 アルファチャンネルを除外する
          必要はおそらくありません。 普通の写真には無いものなので、
          ファイルが開かれた時点で既に<acronym>RGB</acronym>モードです。
        </para>
        <note>
          <para lang="en">
            If the image has a soft transition into the transparent areas, you
            cannot remove the alpha channel, since the information which would
            be used for fading out will not be saved in the file. If you would
            like to save an image with transparent areas which do not have a
            soft transition, (similar to
            <link linkend="file-gif-save">GIF</link>),
            you can remove the alpha channel.
          </para>
          <para lang="ja">
            もしも画像が透明部分までの境界部分で半透明を用いて徐々に変化して
            いるのならば、 アルファチャンネルを外すことはできません。 この部分
            に用いられている減衰効果がファイルに保存されなくなるからです。
            透明部分がある画像でも、 徐々に変化する部分を含まないのであれば、 (
            <link linkend="file-gif-save">GIF</link>の場合と同じく )
            アルファチャンネルを外して保存できます。
          </para>
        </note>
      </step>
      <step>
        <para lang="en">
          After you have flattened the image, you are able to
          <link linkend="gimp-file-save">save the image</link>
          in <link linkend="file-png-save-defaults">PNG format</link>
          for your web site.
        </para>
        <para lang="ja">
          画像を統合したあとは、 ウェブサイト用に
          <link linkend="file-png-save-defaults">PNG形式</link>で
          <link linkend="gimp-file-save">画像を保存</link>できます。
        </para>
      </step>
    </procedure>
    <note>
      <para lang="en">
        You can save your image in PNG format with the default settings, but
        using maximum compression. Doing this will have no negative affects on
        the quality of the picture, as it would have with
        <link linkend="file-jpeg-save">JPEG</link>
        format. If your image is a photograph with lots of colors, you would
        be better off saving it as jpeg. The main thing is to find the best
        tradeoff between quality and compression. You can find more
        information about this topic in <xref linkend="file-jpeg-save"/>.
      </para>
      <para lang="ja">
        画像を<acronym>PNG</acronym>形式で保存する際、
        既定の設定を利用しつつも圧縮率は最高にできます。 そうしても
        <link linkend='file-jpeg-save'>JPEG</link>形式とは異なり、 画像の
        品質に何ら望ましからぬ影響はありません。 色数の多い写真画像でも
        <acronym>JPEG</acronym>のようにうまく保存できます。 品質と圧縮の最高の
        兼ね合いを探ることが肝心です。 この話題に関する情報は前述の
        <xref linkend="file-jpeg-save" />の節にもあります。
      </para>
    </note>
  </sect2>

  <sect2 id="gimp-using-web-reducing-file-size">
    <title lang="en">Reducing the File Size Even More</title>
    <title lang="ja">さらにファイル容量を削減</title>
    <para lang="en">
      If you want to reduce the size of your image a bit more, you could
      convert your image to Indexed mode. That means that all of the colors
      will be reduced to only 256 values. Converting images with smooth color
      transitions or gradients to indexed mode will often give poor results,
      because it will turn the smooth gradients into a series of bands. This
      method is also not recommended for photographs because it will make the
      image look coarse and grainy.
    </para>
    <para lang="ja">
      画像のファイル容量をもっと小さくしたいときは、 画像をインデックスモード
      に変換することになるでしょう。 つまり全色数を256色に減らすのです。
      徐々に色が変化する画像やグラデーション効果があるものはインデックスモード
      に変換すると惨めな結果になります。 徐々に変化していた色が数色の縞に
      変えられてしまうからです。 またこの方式は写真に使うと、
      肌理の荒い粗末な仕上りになるためおすすめできません。
    </para>
    <figure>
      <title lang="en">The indexed image</title>
      <title lang="ja">インデックス化した画像</title>
      <mediaobject>
        <imageobject>
          <imagedata format="PNG"
            fileref="images/using/preparing_for_web2.png"/>
        </imageobject>
        <caption>
          <para lang="en">
            An indexed image can look a bit grainy. The left image is Wilber
            in its original size, the right one is zoomed in by 300 percent.
          </para>
          <para lang="ja">
            インデックス化した画像はややギザギザになってしまいます。
            左上の画像が元の大きさのウィルバー君で、 右の大きいのが
            300パーセントにズームしたものです。
          </para>
        </caption>
      </mediaobject>
    </figure>
    <procedure>
      <step>
        <para lang="en">
          Use the command described in <xref linkend="gimp-image-mode"/>
          to convert your RGB image to indexed mode.
        </para>
        <para lang="ja">
          <link linkend='gimp-image-mode'>モード</link>の節で述べられている
          コマンドを用いて<acronym>RGB</acronym>画像をインデックスモードに
          変換します。
        </para>
      </step>
      <step>
        <para lang="en">
          After you have converted the image to indexed mode, you are once
          again able to <link linkend="gimp-file-save">save</link> your
          image in <link linkend="file-png-save-defaults">PNG
          format</link>.
        </para>
        <para lang="ja">
          画像をインデックスモードに変換したら、 こんどは
          <link linkend='file-png-save-defaults'>PNG形式</link>で
          <link linkend='gimp-file-save'>保存</link>しましょう。
        </para>
      </step>
    </procedure>
  </sect2>

  <sect2 id="gimp-using-web-transparency">
    <title lang="en">Saving Images with Transparency</title>
    <title lang="ja">透過画像の保存</title>
    <indexterm lang="en">
      <primary>Transparency</primary>
      <secondary>Saving images with transparency</secondary>
    </indexterm>
    <indexterm lang="ja">
      <primary sortas="トウカコウカ">透過効果</primary>
      <secondary sortas="トウカガゾウノホゾン">透過画像の保存</secondary>
    </indexterm>
    <para lang="en">
      There are two different approaches used by graphic file formats
      for supporting transparent image areas: simple binary transparency
      and alpha transparency. Simple binary transparency is supported
      in <link linkend="file-gif-save">GIF</link> format. Here, one color
      from the indexed color palette is marked as the transparent color.
      Alpha transparency is supported in
      <link linkend="file-png-save-defaults">PNG</link> format.  Here, the
      transparency information is stored in a separate channel, the
      <link linkend="glossary-alpha">Alpha channel</link>.
    </para>
    <para lang="ja">
      画像の透明部分をサポートするのに使える画像ファイル形式は2つあります。
      単純二極化透過<!-- 新造語 -->とアルファ透過です。 単純二極化透過は
      <link linkend="file-gif-save">GIF</link>形式でサポートされています。
      この形式はインデックス化された色パレットのうちの1色を透過色として
      扱います。 アルファ透過は
      <link linkend="file-png-save-defaults">PNG</link>形式で
      サポートされています。 この形式は
      <link linkend="glossary-alpha">アルファチャンネル</link>という
      別個のチャンネルに透明度の情報を収めています。
    </para>
    <note>
      <para lang="en">
        There is usually no need to save images in GIF format any more,
        because PNG supports all the features of GIF and offers additional
        features (e.g., alpha transparency). Nevertheless, this format is
        still used for animations.
      </para>
      <para lang="ja">
        今後は<acronym>GIF</acronym>形式で画像を保存する理由は
        普段見当たりません。 <acronym>GIF</acronym>の全ての性能とそれ以上の
        (アルファ透過などの) 性能を<acronym>PNG</acronym>があわせもつからです。
        とはいえ、 アニメーションのためにこの形式もまだ使われています。
      </para>
    </note>
    <procedure>
      <title lang="en">
        Creating an Image with Transparent Areas (Alpha Transparency)
      </title>
      <title lang="ja">透明部分のある画像の作成 (アルファ透過)</title>
      <step>
        <para lang="en">
          First of all, we will use the same image as in the previous
          tutorials, Wilber the GIMP mascot.
        </para>
        <para lang="ja">
          まずは<acronym>GIMP</acronym>のマスコット、 ウィルバー君の
          前回演習に使ったのと同じ絵を使いましょう。
        </para>
        <figure>
          <title lang="en">The Wilber Image Opened in RGBA Mode.</title>
          <title lang="ja">RGBAモードで開かれたウィルバー君の画像</title>
          <mediaobject>
            <imageobject>
              <imagedata format="PNG"
                fileref="images/using/preparing_for_web1.png"/>
            </imageobject>
          </mediaobject>
        </figure>
      </step>
      <step>
        <para lang="en">
          To save an image with alpha transparency, you must have an alpha
          channel. To check if the image has an alpha channel, go to the
          <link linkend="gimp-channel-dialog">channel dialog</link> and
          verify that an entry for <quote>Alpha</quote> exists, besides
          Red, Green and Blue. If this is not the case,
          <link linkend="gimp-layer-alpha-add">add a new alpha channel</link>
          from the layers menu.
        </para>
        <para lang="ja">
          アルファ透過のある画像で保存するにはアルファチャンネルが必要です。
          画像のアルファチャンネルの有無は、
          <link linkend="gimp-channel-dialog">チャンネルダイアログ</link>
          を開いて、 赤緑青のはかに<quote>アルファ値</quote>の層があるかどうか
          で確かめます。 もし無ければ、 <guimenu>レイヤー(<accel>L</accel>)
          </guimenu> メニューから、 新たに
          <link linkend="gimp-layer-alpha-add">アルファチャンネルを追加</link>
          します。
        </para>
      </step>
      <step>
        <para lang="en">
          You can now remove the background layer to get a completely
          transparent background, or create a gradient from color to
          transparency. You are only limited by your imagination. To
          demonstrate the capabilities of alpha transparency, we'll make a
          soft glow in the background around our Wilber.
        </para>
        <para lang="ja">
          そうしたら次は背景レイヤーを削除して背景を全くの透明にするか、
          色つきから徐々に透明になるグラディエントを作ります。
          ここはあなたの想像力次第です。 アルファ透過の効果の実演として、
          ウィルバー君の背後に後光をつけました。
        </para>
      </step>
      <step>
        <para lang="en">
          After you're done with your image, you can
          <link linkend="gimp-file-save">save</link> it in
          <link linkend="file-png-save-defaults">PNG format</link>.
        </para>
        <para lang="ja">
          画像が仕上がったら、
          <link linkend='file-png-save-defaults'>PNG形式</link>で
          <link linkend='gimp-file-save'>保存</link>しましょう。
        </para>
      </step>
    </procedure>
    <figure>
      <title lang="en">The Wilber image with transparency</title>
      <title lang="ja">透過効果つきのウィルバー像</title>
      <mediaobject>
        <imageobject>
          <imagedata format="PNG"
            fileref="images/using/preparing_for_web-alphatransparency.png"/>
        </imageobject>
        <caption>
          <para lang="en">
            Mid-Tone Checks in the background layer represent the transparent
            region of the saved image while you are working on it in
            <acronym>GIMP</acronym>.
          </para>
          <para lang="ja">
            <acronym>GIMP</acronym>上での作業では背景レイヤー越しに中間色をみて
            保存された画像の透明部分を確かめる
          </para>
        </caption>
      </mediaobject>
    </figure>
  </sect2>
</sect1>
